        .transform_animation {
          width: 200px;
          height: 100px;
          margin-top:200px;
          background-color: rgb(235, 122, 84);
        }
 
 .transform_animation:hover {
          transform: skew(30deg, 30deg);
          transition-timing-function: steps(4, jump-end);
          transition-duration: 2s;
        }