 form {
	width: 300px;
	margin: 0 auto;
}

label {
	display: block;
	font-family: courier;
	margin: 20px 0 5px 0;
	font-size: 1.2em;
}

input {
	width: 100%;
	padding: 10px 5px;
	background: #E8EBED;
	border-radius: 4px;
	border: 2px solid #E8EBED;
	font-family: courier;
	font-size: 1.1em;
}