body{
  background-color: #082767;
}
#teste{
  width: 400px;
  height: 100px;
  background-image: url(logolc.png);
  background-repeat: repeat;
}
#teste1{
  width: 400px;
  height: 150px;
  background-image: url(logolc.png);
  background-repeat: repeat-x;
}
#teste2{
  width: 400px;
  height: 150px;
  background-image: url(logolc.png);
  background-repeat: no-repeat;
}
#teste3{
  width: 400px;
  height: 100px;
  background-image: url(logolc.png);
  background-repeat: repeat-y;
}