       .button {
        border-radius: 4px;
        background-color: blue;
        border: none;
        color: white;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        cursor: pointer;
        margin: 5px;
      }
 
      .button span {
        position: relative;
        transition: 0.5s;
      }
 
      .button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
 
      .button:hover span {
        padding-right: 25px;
      }
 
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }