body {
	padding-top: 50px;
}
ul {
	text-align: center;
	width: 100%;
	background: #84e;
	position: fixed;
	top: 0;
}
ul li {
	display: inline-block;
}
ul li a {
	display: inline-block;
	padding: 10px 20px;
	margin: 15px 5px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: monospace;
}

ul li a:hover {
	background: rgba(0,0,0,.2);
	border-radius: 4px;
}

div {
	max-width: 300px;
	margin: 60px auto 120px auto;
	border: 1px solid rgba(0,0,0,.1);
	padding: 20px;
	box-shadow: 0 5px 8px -5px rgba(0,0,0,.2);
}
h1 {
	font-size: 2em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #95e;
}
p {
	margin-bottom: 1em;
	font-size: 0.875em;
	line-height: 1.3;
	font-family: monospace;
}