 html, body{
  padding: 3px;
  margin: 0;
  min-height: 100px;
}

.progress-bar{
  height: 50px;
  padding: 5px;
  background-color: #ccc;
  display: flex;
}

.progress-bar::before{
  content: "";
  width: 50%;
  background-color: red;
}