 .loading span {
	animation: dots .6s cubic-bezier(0.6,0.1,1,0.4);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.loading span:nth-child(0) {
	animation-delay: .1s;
}

.loading span:nth-child(2) {
	animation-delay: .2s;
}

.loading span:nth-child(3) {
	animation-delay: .3s;
}

.loading span:nth-child(4) {
	animation-delay: .4s;
}

@keyframes dots {
	from {
		transform: translate3D(0,0,0);
	}
	to {
		transform: translate3D(0,30px,0);
	}
}

.loading span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #84E;
	margin: 4px;
}

.loading {
	margin: 40px auto;
	text-align: center;
}

h1 {
	font-size: 14px;
	font-family: monaco;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #8844EE;
	margin: 40px 0 20px 0;
	text-align: center;
}