:root{
  --width: 25%;
  --content: 'This is desktop';
}
@media only screen and (max-width: 767px){
  :root{
    --width:50%;
    --content: 'This is mobile';
  }
}
@media only screen and (max-width: 480px){
  :root{
    --width:100%;
  }
}

div{
  width: calc(var(--width) - 20px);
  height: 100px;
}
div:before{
  content: var(--content);
}


