.wrapper{
 position:relative;
 height: 600px;
}
.wrapper .child {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 width: 200px;
 height: 30px;
 border: 1px solid #f00;
 }
 