.geral { 
    width: 200px;
    height: 293px;
    position: relative;
    margin:10% auto 0;
    -webkit-perspective: 500;
}

.carta {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
}

.carta figure {
  margin:0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.atras{-webkit-transform: rotateY(180deg);}

.carta:hover {
  -webkit-transform: rotateY(-180deg);
}

.carta:hover {
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-origin: right center;
}

